<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Middle tier application context definition for the image database.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd" >

	<bean id="springBeanHelper" class="com.pb.helper.SpringBeanHelper" />

	<context:component-scan base-package="com.pb.facde.impl,com.pb.dao,com.pb.service"/>
	<aop:aspectj-autoproxy />

	<bean id="propertyConfigurer"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:dubbo.properties</value>
			</list>
		</property>
	</bean>


	<bean id="zkClientUtil" class="com.pb.util.ZkClientUtil" />

	<!--自定义配置加载器-->
	<bean id="zooKeeperPropertyPlaceholderConfigurer" class="com.pb.util.ZooKeeperPropertyPlaceholderConfigurer">
		<property name="zkClientUtil" ref="zkClientUtil"></property>
		<property name="order" value="1" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<!-- redis连接池的配置 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${jedis.pool.maxTotal}"/>
		<property name="maxIdle" value="${jedis.pool.maxIdle}"/>
		<property name="minIdle" value="${jedis.pool.minIdle}"/>
		<property name="maxWaitMillis" value="${jedis.pool.maxWaitMillis}"/>
		<property name="testOnBorrow" value="${jedis.pool.testOnBorrow}"/>
		<property name="testOnReturn" value="${jedis.pool.testOnReturn}"/>
	</bean>

	<!-- redis的连接池pool，不是必选项：timeout/password  -->
	<bean id = "jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" ref="jedisPoolConfig"/>
		<constructor-arg index="1" value="${redis.ip}"/>
		<constructor-arg index="2" value="${redis.port}" type="int"/>
		<constructor-arg index="3" value="${redis.timeout}" type="int"/>
		<constructor-arg index="4" value="${redis.password}"/>
	</bean>

	<!--Druid 监控配置-->
	<bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
		<property name="slowSqlMillis" value="3000" /><!--满查询sql执行时间阀值-->
		<property name="logSlowSql" value="true" />
		<property name="mergeSql" value="true" />
	</bean>

	<!--jedisManager配置-->
	<bean id="jedisManager" class="com.pb.helper.JedisManager" >
		<property name="jedisPool" ref="jedisPool" />
	</bean>

	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		  init-method="init"
		  destroy-method="close">
		<property name="driverClassName" value="${mysql.driver}" />
		<property name="url" value="${mysql.url}" />
		<property name="username" value="${mysql.username}" />
		<property name="password" value="${mysql.password}" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${mysql.initialSize}" />
		<!-- 连接池最大数量 -->
		<property name="maxActive" value="${mysql.maxActive}" />
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${mysql.minIdle}"/>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="${mysql.maxWait}" />
		<property name="testWhileIdle" value="true" />
		<property name="validationQuery" value="${mysql.validationQuery}" />

		<property name="filters" value="stat,stat-filter" /><!--stat 默认的sql监控-->
	</bean>

	<!-- SqlSessionFactoryBean  spring整合ibatis的入口 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="mapperLocations" value="classpath*:sqlmapers/*.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- ScanMapperFiles -->
	<bean name="mapperScanConfig" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.pb.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
		<property name="rollbackOnCommitFailure" value="true" />
	</bean>

	<!-- 配置事务 -->
	<aop:config proxy-target-class="true">
		<aop:advisor pointcut="execution(* com.pb.service..*Service*.*(..))" advice-ref="txAdvice" />
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" rollback-for="Exception" read-only="true" />
			<tx:method name="retrieve*" rollback-for="Exception" read-only="true" />
			<tx:method name="list*" rollback-for="Exception" read-only="true" />
			<tx:method name="get*" rollback-for="Exception" read-only="true" />
			<tx:method name="apply*" rollback-for="Exception" read-only="false" />
			<tx:method name="change*" rollback-for="Exception" read-only="false" />
			<tx:method name="del*" rollback-for="Exception" read-only="false" />
			<tx:method name="batch*" rollback-for="Exception" read-only="false" />
			<tx:method name="create*" rollback-for="Exception" read-only="false" />
			<tx:method name="modify*" rollback-for="Exception" read-only="false" />
			<tx:method name="save*" rollback-for="Exception" read-only="false" />
			<tx:method name="clear*" rollback-for="Exception" read-only="false" />
			<tx:method name="update*" rollback-for="Exception" read-only="false" />
			<tx:method name="edit*" rollback-for="Exception" read-only="false" />
			<tx:method name="move*" rollback-for="Exception" read-only="false" />
			<tx:method name="remove*" rollback-for="Exception" read-only="false" />
			<tx:method name="delete*" rollback-for="Exception" read-only="false" />
			<tx:method name="add*" rollback-for="Exception" read-only="false" />
			<tx:method name="new*" rollback-for="Exception" read-only="false" />
			<tx:method name="gen*" rollback-for="Exception" />
			<tx:method name="insert*" rollback-for="Exception" read-only="false" />
			<tx:method name="adviseUser" rollback-for="Exception" read-only="false" />
			<tx:method name="call*" rollback-for="Exception" read-only="false" />
			<tx:method name="close*" rollback-for="Exception" read-only="false" />
			<tx:method name="publish*" rollback-for="Exception" read-only="false" />
			<tx:method name="up*" rollback-for="Exception" read-only="false" />
			<tx:method name="down*" rollback-for="Exception" read-only="false" />
			<tx:method name="back*" rollback-for="Exception" read-only="false" />
			<tx:method name="select*" rollback-for="Exception" read-only="true" />
			<tx:method name="view*" rollback-for="Exception" read-only="true" />
			<tx:method name="query*" rollback-for="Exception" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<bean id="logConfig" class="com.pb.logHelper.AppLogConfig" />

	<bean class="com.pb.logHelper.ZkSubcriber">
		<constructor-arg name="zkAddress" value="${dubbo.registry.address}" />  <!-- Zookeeper地址 -->
		<constructor-arg name="logPath" value="${dubbo.config.logConfig}" />     <!-- Zookeeper上你的应用所对应的节点路径 -->
		<constructor-arg name="listener" ref="logConfig" />
	</bean>


	<!--方法监控-->
	<bean id="druid-stat-interceptor"
		  class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor">
	</bean>

	<bean id="druid-stat-pointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut"
		  scope="prototype">
		<property name="patterns">
			<list>
				<value>com.pb.service.*</value>
				<value>com.pb.dao.*</value>
			</list>
		</property>
	</bean>

	<aop:config>
		<aop:advisor advice-ref="druid-stat-interceptor"
					 pointcut-ref="druid-stat-pointcut" />
	</aop:config>

</beans>
