<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="com.pb.logHelper.ThresholdFilter">
			<level>ERROR</level>
			<appName>app-redis</appName>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="com.pb.logHelper.ThresholdFilter">
			<level>DEBUG</level>
			<appName>app-redis</appName>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>D:/zq/java/app-demo/logs/app-redis.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>300</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>
				%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n
			</pattern>
		</layout>
		<!--日志文件最大的大小 -->
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>100MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<root level="ERROR">
		<appender-ref ref="stdout" />
		<appender-ref ref="FILE" />
	</root>

	<logger name="org.springframework" level="INFO"/>
	<logger name="com.pb" level="DEBUG"/>

</configuration>