<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Middle tier application context definition for the image database.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd" >

	<context:component-scan base-package="com.pb.redis"/>
	<aop:aspectj-autoproxy />


	<!-- 用于数据源的参数引用 -->
	<bean id="propertyConfigurer"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="order" value="1" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:redis.properties</value>
				<value>classpath:dubbo.properties</value>
			</list>
		</property>
	</bean>

	<bean id="zookeeperClient" class="com.pb.config.ZookeeperClientUtil" />

	<bean id="zooKeeperPropertyPlaceholderConfigurer" class="com.pb.config.ZooKeeperPropertyPlaceholderConfigurer">
		<property name="configurationClient" ref="zookeeperClient"></property>
		<property name="order" value="2" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<!-- redis连接池的配置 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${jedis.pool.maxTotal}"/>
		<property name="maxIdle" value="${jedis.pool.maxIdle}"/>
		<property name="minIdle" value="${jedis.pool.minIdle}"/>
		<property name="maxWaitMillis" value="${jedis.pool.maxWaitMillis}"/>
		<property name="testOnBorrow" value="${jedis.pool.testOnBorrow}"/>
		<property name="testOnReturn" value="${jedis.pool.testOnReturn}"/>
	</bean>

	<!-- redis的连接池pool，不是必选项：timeout/password  -->
	<bean id = "jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" ref="jedisPoolConfig"/>
		<constructor-arg index="1" value="${redis.ip}"/>
		<constructor-arg index="2" value="${redis.port}" type="int"/>
		<constructor-arg index="3" value="${redis.timeout}" type="int"/>
		<constructor-arg index="4" value="${redis.password}"/>
	</bean>

</beans>
